# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Java
*.class

# Log files
*.log

# Temporary files
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# Other
*.swp
*~

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.history
.ionide 